@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root
{
    background-color: black;
}
.Main{
    background-color: black;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.main-text{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 250%;
}
input{
    background-color: black;
    color:red;
    border: 2px solid white;
    margin: 10px;
    margin-top:1px;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    width: 20%;
}
label{
    color: white;
    margin: 10px;
    text-align: left;
}
button{
    color: white;
    border: 3px solid white;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    padding: 5px;
    margin: 5px;
}
p{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Main {
      text-align: left;
    }
    input{
        width: 95%;
    }
    label{
        
    }
    .main-text{
        text-align: center;
    }
    .btn-div{
        text-align: center;
    }
    .developed-by{
        text-align: center;
    }
  }