@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.main-bg {
  background-color: #060709;
  color: white;
  text-align: center;
  height: 100vh;
}
.img-logo {
  width: 15%;
  text-align: center;
  margin: auto;
}
.social {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin: 50px 0px;
}
.social-icon {
  width: 60px;
  margin: 0px 50px;
}